<ol class="breadcrumb py-3">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">About</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/cta.png"
        alt="Ulza Alkindi"
        width="200"
        class="img-thumbnail rounded-circle"
      />
      <div class="display-4">Ulza Alkindi</div>
      <div class="lead">Lecturer | Content Creator</div>
      <!-- 21.04 -->
    </div>
  </div>
</div>
